<div th:fragment="_header">
    <header class="header">

        <!-- 상단 광고 -->
        <div class="header_bar">
            <a href="#"><img src="/images/광고.png" alt="메인 상단 광고"></a>
        </div>


        <!-- 우상단 작은 메뉴-->
        <div class="top-menu">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
            <a href="#">마이페이지</a>
            <a href="#">장바구니</a>
        </div>

        <!-- 헤더 메인 -->
        <div class="main-header">
            <div class="logo">
                <!-- 로고 -->
                <img src="/images/로고.png" alt="로고">
            </div>
            <!-- 검색 -->
            <div class="search-bar">
                <input type="text" placeholder="검색">
                <button type="button">🔍</button>
            </div>
        </div>

        <!-- 헤더 메뉴 카테고리 -->
        <!-- DB연결 예정 for each -->
        <nav class="header-menu">
            <a href="#">히트상품</a>
            <a href="#">추천상품</a>
            <a href="#">최신상품</a>
            <a href="#">인기상품</a>
            <a href="#">할인상품</a>
        </nav>



    </header>
</div>