<div th:fragment="_sidebar">
    <aside class="category-menu">
        <div class="category-item">
            <i class="icon-tshirt"></i> <span class="main-category">패션</span>
            <span class="sub-category-list">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">의류</span>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">뷰티</span>
                </label>
                </span>
        </div>

        <div class="category-item">
            <i class="icon-laptop"></i>
            <span class="main-category">가전</span>
            <span class="sub-category-list">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">디지털</span>
                </label>
                </span>
        </div>

        <div class="category-item">
            <i class="icon-food"></i>
            <span class="main-category">식품</span>
            <span class="sub-category-list">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">생필품</span>
                </label>
                </span>
        </div>

        <div class="category-item">
            <i class="icon-house"></i>
            <span class="main-category">홈</span>
            <span class="sub-category-list">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">문구</span>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="bullet"></span>
                    <span class="text">취미</span>
                </label>
                </span>
        </div>
    </aside>
</div>